@typeparam T
@inherits InputSelect<IEnumerable<T>>

@using System.Globalization
@using Vivo_Task.Services
@using Newtonsoft.Json
@using System.ComponentModel
@using BlazorBootstrap
@using Microsoft.AspNetCore.Components.Forms;

@if (!Busy)
{
    <div class="input-area @CssClass" style="@Style">
        <div class="icon-select">
            @Icon
        </div>
        <label for="@Id">@LabelText</label>
        @if (Rounded)
        {
            <div class="bar-rounded">
            </div>
        }

        <InputSelect ValueChanged="OnItemsChanged" ValueExpression="@ValueExpression" Value="@CurrentValue"
                     multiple DisplayName="@DisplayName" Id="@Id" TValue="IEnumerable<T>" class="form-control">
            <option value="" selected>Selecione</option>
            @foreach (var item in Data)
            {
                <VivoSelectOption T="T" Option="item.Value.Value" Text="@item.Value.Text"  />
            }
        </InputSelect>


        @if (!Rounded)
        {
            <div class="bar"></div>
        }
    </div>
    @if (Context != null)
    {
        <ValidationMessage For="ValidationFor" class="text-danger" />
    }
}
