
<div class="apply-component @Class" style="@Style" id="@Id">
    <div class="icon-rating-area @(Disable ? "disabled" : "")">
        <FluentIcon Class="icon-rating" Value="@(Value >= 1 ? new Icons.Filled.Size24.Star().WithColor( IsGold ? "#fdf001" :"#9d17be") : new Icons.Regular.Size24.Star().WithColor("#ffffff"))" @onclick=@(() => ChangeValue(1)) />

        <FluentIcon Class="icon-rating" Value="@(Value >= 2 ? new Icons.Filled.Size24.Star().WithColor( IsGold ? "#fdf001" :"#9d17be") : new Icons.Regular.Size24.Star().WithColor("#ffffff"))" @onclick=@(() => ChangeValue(2)) />

        <FluentIcon Class="icon-rating" Value="@(Value >= 3 ? new Icons.Filled.Size24.Star().WithColor( IsGold ? "#fdf001" :"#9d17be") : new Icons.Regular.Size24.Star().WithColor("#ffffff"))" @onclick=@(() => ChangeValue(3)) />

        <FluentIcon Class="icon-rating" Value="@(Value >= 4 ? new Icons.Filled.Size24.Star().WithColor( IsGold ? "#fdf001" :"#9d17be") : new Icons.Regular.Size24.Star().WithColor("#ffffff"))" @onclick=@(() => ChangeValue(4)) />

        <FluentIcon Class="icon-rating" Value="@(Value >= 5 ? new Icons.Filled.Size24.Star().WithColor( IsGold ? "#fdf001" :"#9d17be") : new Icons.Regular.Size24.Star().WithColor("#ffffff"))" @onclick=@(() => ChangeValue(5)) />
    </div>
</div>